body{
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.principal{
    width: 300px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #959688;
    color: white;
    border-radius: 15px;
}

.jorge{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.hide{
    visibility: hidden;
}