body{
    background-image: url('../img/fondo.jpg');
    background-size: 1330px 700px ;
}

.img{
    width: 400px;
    height: 400px;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.principal{
    width: 300px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #959688;
    color: white;
    border-radius: 15px;
}