body{
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo.jpg');
    background-size: cover;
    background-position: center;
}

.container{
    width: 130vh;
    height: 90vh;
    background-color: white;
    border-radius: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

.nav{
    height: 6.6%;
    background-color: #C5C6B4;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: end;
    padding-right: 20px;
    padding-top: 5px;
}

.estandar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.estandar-atras{
    background-color: #FFCE30;
}

.estandar-max-min{
    background-color: #008000;
}

.estandar-salir{
    background-color: #FF0000;
}

.content{
    height: 44.4%;
}

.texto{
    width: 69.23%;
    float: left;
    padding-left: 30px;
}

.img-personal{
    padding: 10px;
    width: 23%;
}

.foto{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.parrafo{
    text-align: center;
    font-size: large;
}

.line{
    width: 100%;
}

.line-hobbies{
    width: 84.6%;
}

.hobbies{
    height: 41.7%;
}

.normal{
    font-weight: bold;
}

.normal-centrado{
    text-align: center;
}

.normal-hobbi{
    padding-left: 30px;
}

.formato{
    text-align: center;
    width: 23%;
}

.hobbit-image{
    width: 150px;
    height: 100px;
    border-radius: 15px;
}

.datos{
    text-align: center;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    top: -130%;
    transform: translate(0, 130%);
}

.alineo{
    float: left;
}

.enlace{
    text-decoration: none;
    color: black;
}

.footer{
    text-align: center;
}