body{
    background-image: url('../img/fondo.jpg');
    /* background-size: 1330px 700px ; */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.container{
    width: 130vh;
    height: 90vh;
    background-color: white;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
}

nav{
    height: 10vh;
    background-color: #C5C6B4;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: end;
}

.estandar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.estandar-atras{
    background-color: #FFCE30;
}

.estandar-max-min{
    background-color: #008000;
}

.estandar-salir{
    background-color: #FF0000;
}

.content{
    height: 350px;
    background-color: #008000;
}

.texto{
    float: left;
}

.img{
    padding: 10px;
    width: 200px;
}



.foto{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.parrafo{
    text-align: center;
}

.line{
    width: 70vh;
}