.img>img{
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	border-radius: 100%;
}
body{
	background-color: #7BD2FB;
}
.body{
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #A1CBEC;
    margin-top: 10px;
}
section > span{
	display: block;
	margin-right: auto;
	margin-left: auto;
}
footer{
	display: flex;
    background-color: #BBDCEC;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
    font-size: 13px;
}